{% extends "report/inventree_report_base.html" %}

{% load i18n %}
{% load report %}
{% load inventree_extras %}


{% block page_content %}
<h1>{{ build_plugin.customer_company.name }}</h1>

<p>{{ build_plugin.customer_company.primary_address.line1 }}<br/>
   {{ build_plugin.customer_company.primary_address.postal_code }} {{ build_plugin.customer_company.primary_address.postal_city }}<br>
   {{ build_plugin.customer_company.email }} <br>
   {% now "jS F Y " %}</p>

<h3>To:</h3>
<p>
{{ build_plugin.ems.name }}<br/>
{{ build_plugin.ems_contact.name}}<br/>
{{ build_plugin.ems.primary_address.line1 }} <br>
{{ build_plugin.ems.primary_address.postal_code }} {{ build_plugin.ems.primary_address.postal_city }}<br> 
</p>

<h3>Request for Quotation</h3>

<p>Dear Mr. {{ build_plugin.ems_contact.name }}, </p>

<p>
We like to have printend circuits boards assembled. Here are the key parameters:
</p>

<table>
<thead>
<tr>
	<th>Name</th>
	<th>Data</th>
</tr>
</thead>

<tbody>
<tr>
        <td>Build  number</td>
        <td>{{ build.reference }}</td>
</tr>
<tr>
        <td>Scheduled build date</td>
        <td>{{ build.target_date }}</td>
</tr>
<tr>
	<td>Assembled PCB Name</td>
	<td>{{ build.part.name }}</td>
</tr>
<tr>
	<td>Bare PCB Name</td>
	<td>{{build_plugin.build_data.pcb_name}}</td> 
</tr>
<tr>
	<td>Number of boards</td>
	<td>{{ build.quantity }}</td>
</tr>
<tr>
	<td>Board size</td>
	<td> {{ build_plugin.build_data.Width }} x {{ build_plugin.build_data.Length }} </td>
</tr>
<tr>
	<td>Number of layers in board</td>
	<td> {{ build_plugin.build_data.Layers }} </td>
</tr>
<tr>
	<td>Number of components on board</td>
	<td>{% decimal build_plugin.total_components %}</td>
</tr>
<tr>
	<td>Number of codes in BOM</td>
        <td> {{ build.part.bom_items.count }} </td>
</tr>
<tr>
	<td>Contact for technical questions</td>
	<td>
		{{ build_plugin.customer_contact.name }}<br>
		{{ build_plugin.customer_contact.phone }}<br>
		{{ build_plugin.customer_contact.email }}
	</td>
</tr>
</tbody>
</table>
{% endblock %}
