{% extends "report/inventree_report_base.html" %}

{% load i18n %}
{% load report %}
{% load inventree_extras %}


{% block page_content %}
	<h1>{{ build_plugin.We.name }}</h1>

	<p>{{ build_plugin.We.primary_address.line1 }}<br/>
	{{ build_plugin.We.primary_address.postal_code }} {{ build_plugin.We.primary_address.postal_city }}</p>

	<p>phone: {{ build_plugin.We.phone }}<br/>
	E-Mail: {{ build_plugin.We.email }}<br/>

<h3>To:</h3>
<p>
{{ build_plugin.ems.name }}<br/>
{{ build_plugin.CompanyContact.name}}<br/>
{{ build_plugin.ems.primary_address.line1 }} <br>
{{ build_plugin.ems.primary_address.postal_code }} {{ build_plugin.ems.primary_address.postal_city }}<br> 
{% now "jS F Y " %}<br>
</p>

<h3>Build Order Request</h3>

<p>Dear Mr. {{ build_plugin.CompanyContact.name }}, </p>

<p>
We like to have printend circuits boards assembled. Here are the key parameters:
</p>

<table>
<thead>
<tr>
	<th>Name</th>
	<th>Data</th>
</tr>
</thead>

<tbody>
<tr>
        <td>Scheduled build date</td>
        <td>{{ build.target_date }}</td>
</tr>
<tr>
	<td>POP Name</td>
	<td>{{ build.part.name }}</td>
</tr>
<tr>
	<td>PCB Name</td>
	<td>{{build_plugin.RelatedPCB.IPN}}</td> 
</tr>
<tr>
	<td>Number of boards</td>
	<td>{{ build.quantity }}</td>
</tr>
<tr>
	<td>Board size</td>
	<td>{{ build.metadata.size }}</td>
</tr>
<tr>
	<td>Number of layers in board</td>
	<td>{{ build.metadata.layer_count }}</td>
</tr>
<tr>
	<td>Number of components on board</td>
	<td>{% decimal build_plugin.TotalNumberOfComponents %}</td>
</tr>
<tr>
	<td>Number of codes in BOM</td>
        <td> {{ build.part.bom_items.count }} </td>
</tr>
<tr>
	<td>Contact for technical questions</td>
	<td>
		{{ build_plugin.TechnicalContact.name }}<br>
		{{ build_plugin.TechnicalContact.phone }}<br>
		{{ build_plugin.TechnicalContact.email }}
	</td>
</tr>
</tbody>
</table>
{% endblock %}
