{% load i18n %}

<script>
async function SelectCompany(){
    const cmd_url="{% url 'plugin:buildorderdata:transfer_build_data' %}";
    data = {
        ems_company_pk: parseInt(document.getElementById("ems_company_field").value),
        customer_contact: parseInt(document.getElementById("customer_contact_field").value),
        boards_in_panel: parseInt(document.getElementById("boards_in_panel").value),
        material_provisioning: parseInt(document.getElementById("material_provisioning").value),
        sample_approval: parseInt(document.getElementById("sample_approval").value),
        ems_contact_pk: parseInt(document.getElementById("ems_contact_field").value)
    }
    response = inventreeFormDataUpload(url=cmd_url, data=JSON.stringify(data))
}

function ListenEvent(){

    while (ems_contact_field.options.length > 0) {
        ems_contact_field.remove(0);
    }
    const ems_company_pk = parseInt(document.getElementById("ems_company_field").value)
    {% for contact in plugin.contacts %}  
        if ("{{ contact.company.pk }}" == ems_company_pk) {
            var el = document.createElement("option");
            el.textContent = "{{ contact.name }}";
            el.value = "{{ contact.pk }}";
            if ("{{ contact.pk }}" == "{{ build.metadata.ems_contact_pk }}") {
                el.selected="selected";

            }
            ems_contact_field.appendChild(el);
        }
    {% endfor %}
}
</script>

<table class='table table-condensed'>
<form>
<thead>
    <tr>
        <td> {% trans "Name" %} </td>
        <td> {% trans "Data" %} </td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>  Related PCB </td>
        <td> {{ plugin.build_data.pcb_name }} </td>
    </tr>
    <tr>
        <td>  Codes in BOM </td>
        <td> {{ build.part.bom_items.count }} </td>
    </tr>
    <tr>
        <td> Total number of components </td>
        <td> {{ plugin.total_components }} </td>
    </tr>
    <tr>
        <td> Number of Layers </td>
        <td> {{ plugin.build_data.Layers }} </td>
    </tr>
    <tr>
        <td> Size of Board in mm</td>
        <td> {{ plugin.build_data.Width }} x {{ plugin.build_data.Length }} </td>
    </tr>
    <tr>
        <td> Double side assembly </td>
        <td> {{ plugin.build_data.DualSide }} </td>
    </tr>
    <tr>
        <td> Number of Boards in Panel </td>
        <td> 
                <input id="boards_in_panel" type="number"  value="{{ build.metadata.boards_in_panel }}">
        </td>
    </tr>
    <tr>
        <td> EMS Partner </td>
        <td> 
            <select id="ems_company_field">
                {% for company in plugin.companies %}
		    {% if company.pk == build.metadata.ems_company_pk %}
			<option value="{{ company.id }}" selected="selected"> {{ company.name }} </option>
		    {% else %}
			<option value="{{ company.id }}"> {{ company.name }} </option>
		    {% endif %}
                {% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td> EMS Partner Contact </td>
        <td> 
            <select id="ems_contact_field">
            </select>
    <tr>
        <td> Material provisioning </td>
        <td> 
            <select id="material_provisioning">
                {% if 1 == build.metadata.material_provisioning %}
                <option value="1" selected="selected"> Yes </option>
                <option value="0"> No </option>
                {% else %}
                <option value="1"> Yes </option>
                <option value="0" selected='selected'> No </option>
                {% endif %}
            </select>
        </td>
    </tr>
    <tr>
        <td> Approval of first sample </td>
        <td> 
            <select id="sample_approval">
                {% if 1 == build.sample_approval %}
                <option value="1" selected="selected"> Yes </option>
                <option value="0"> No </option>
                {% else %}
                <option value="1"> Yes </option>
                <option value="0" selected='selected'> No </option>
                {% endif %}
            </select>
        </td>
    </tr>
    <tr>
        <td> Technical Contact </td>
        <td> 
            <select id="customer_contact_field">
                {% for tc in plugin.all_customer_contacts %}
		    {% if tc.pk == build.metadata.customer_contact %}
			<option value="{{ tc.id}}" selected="selected"> {{ tc.name }} </option>
		    {% else %}
			<option value="{{ tc.id }}"> {{ tc.name }} </option>
		    {% endif %}
                {% endfor %}
            </select>
        </td>
    </tr>
</tbody>
    <tfoot>
	<tr>
	    <td> <input type="button" value="Save" onclick="SelectCompany()" title='Save Data' /> </td>
	    <td> </td>
	</tr>
    </tfoot>
</form>
</table>
<script>
    //document.getElementById("ems_company_field").addEventListener("click",ListenEvent);
    document.getElementById("ems_company_field").onchange = ListenEvent;
    ListenEvent()
</script>
